body{
  font-family: 'Open Sans', sans-serif;
  font: 18px;
  background-image: url("/home/dalux/Desktop/boot/huddle-landing-page-with-alternating-feature-blocks-master/images/bg-hero-desktop.svg");
  background-color: #f7fbfc;
}

.topContainer{
  margin: 80px 50px auto 30px;
  text-align: left;
  width: 35%;

}

.tc1{
  margin-bottom: 200px;
}

.para1{
  line-height: 1.7;
  font: 50px;
}

.logo{
  width: 13rem;
}

h1{
  font-family: 'Poppins', sans-serif;
  font: 600px;
}
.try{
  position: absolute;
  right: 4rem; /*1rem = 16px*/
  margin-bottom: 100px;

}
.get{
  position: absolute;
  left: 4rem
}

.illustration{
  width: 43.5rem;
  position: absolute;
  right: 3rem;
  top: 13.5rem;
}

.try {
	box-shadow: 0px 3px 7px 0px #333333;
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 49px;
	text-decoration:none;
  text-shadow:0px 1px 5px #33333;
}
.try:hover {
	background-color:#f9fcfb;
}
.try:active {
	position:relative;
	top:1px;
}

.get {
	box-shadow: 0px 1px 12px 0px #ffe0e0;
	background-color:#e6739f;
	border-radius:32px;
	border:1px solid #ffe0e0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:19px 65px;
	text-decoration:none;
  margin-top: 20px;
}
.get:hover {
	background-color:#5cbf2a;
}
.get:active {
	position:relative;
	top:1px;
}
